In [66]:
! pip install cohere

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: cohere in /usr/local/lib/python3.8/dist-packages (3.10.0)
Requirement already satisfied: urllib3~=1.26 in /usr/local/lib/python3.8/dist-packages (from cohere) (1.26.14)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from cohere) (2.25.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->cohere) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->cohere) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->cohere) (4.0.0)

In [67]:
import numpy as np
import pandas as pd
import re
import cohere
api_key = 'r7tQM9FKfSccYZYJjeeNNvyFj2LFUZwmtXhUChzn'
co = cohere.Client(api_key)

In [68]:
df = pd.read_csv('/content/Menu offlicial - Sheet1.csv', delimiter=',')

df=df.iloc[1: , :]
df.reset_index(inplace = True)
df.drop(labels=['index'], axis=1, inplace=True)

df.head()

,Name,Category,Description
0,Martian Cheetos,Appetizers,Puffed and seasoned with local Mars-grown spic...
1,Tharsis Rings,Appetizers,Crispy onion rings made from locally-grown Tha...
2,Mons Wings,Appetizers,Crispy chicken wings marinated in a spicy blen...
3,Ferrum Salad,Appetizers,A refreshing mix of locally-grown red-hued let...
4,Luft Potatoes,Appetizers,Crispy and light potato chips made from Mars-g...

In [69]:
items = df['Description'].tolist()

output = co.embed(
            model ='large',
            texts = items)
embeds = output.embeddings

print('menu items:', len(embeds))

menu items: 35

In [70]:
READING_IDX = 19
reading = embeds[READING_IDX]

In [71]:
from sklearn.metrics.pairwise import cosine_similarity

def get_similarity(target,candidates):
  candidates = np.array(candidates)
  target = np.expand_dims(np.array(target),axis=0)

  similarity_scores = cosine_similarity(target,candidates)
  similarity_scores = np.squeeze(similarity_scores).tolist()

  similarity_scores = list(enumerate(similarity_scores))
  similarity_scores = sorted(similarity_scores, key=lambda x:x[1], reverse=True)

  return similarity_scores

In [72]:
similarity = get_similarity(reading,embeds)

print('Target:')
print(df['Name'][READING_IDX][:35],'...','\n')

print('Recommendation:')
for i in similarity[1:4]:
  print(df['Name'][i[0]][:35],'...')

Target:
Fragola Rossa ...

Recommendation:
Gelato di Mons ...
Olympus Tart ...
Mons Cioccolato ...